## Data Analysis on "Sales" Data

Insights into a Sales Data of a Shopping Mall. 
Python code is used to explore the data, gain insights into the Sales by Category, Products and Profits.

In [5]:
import numpy as np
import pandas as pd

In [12]:
# Read the .csv files MegaMart_sales and MegaMart_new sales into two separate dataframes, 
# combine them and store it into a new dataframe.
df_new=pd.read_csv("MegaMart_sales.csv").append(pd.read_csv("MegaMart_newsales.csv"))
print(df_new)

           Order ID                                  Product Name  Discount  \
0   AZ-2011-1029887    Novimex Color Coded Labels, 5000 Label Set       0.0
1    AZ-2011-107716                Deflect-O Door Stop, Erganomic       0.0
2   AZ-2011-1087704                 Belkin Flash Drive, Bluetooth       0.0
3   AZ-2011-1372644                    Panasonic Printer, Durable       0.0
4   AZ-2011-1362199                     Sanford Pens, Fluorescent       0.5
..              ...                                           ...       ...
4   AZ-2011-1967754                  Logitech Numeric Keypad, USB       0.0
5   AZ-2011-1976919                          Boston Markers, Blue       0.0
6   AZ-2011-2001312                  Avery Binding Machine, Clear       0.0
7   AZ-2011-2002251     SanDisk Computer Printout Paper, 8.5 x 11       0.0
8    AZ-2011-201891  Cameo Clasp Envelope, with clear poly window       0.0

    Sales  Profit  Quantity         Category Sub-Category
0      26       7         2  Office Supplies       Labels
1      85      15         2        Furniture  Furnishings
2     294     109         7       Technology  Accessories
3     800     168         3       Technology     Machines
4      25     -11         4  Office Supplies          Art
..    ...     ...       ...              ...          ...
4      93      40         2       Technology  Accessories
5     132      54         5  Office Supplies          Art
6      97      12         2  Office Supplies      Binders
7     136      15         4  Office Supplies        Paper
8      52      19         4  Office Supplies    Envelopes

[68 rows x 8 columns]

In [16]:
## Find the total sales value of the category 'Office Supplies'  after combining the dataframes.
df_new.groupby(by='Category').Sales.sum()

Category
Furniture          2460
Office Supplies    7970
Technology         8588
Name: Sales, dtype: int64

In [26]:
## There are some duplicate rows in the data frame. 
# Drop these rows and calculate the total sales value of the category Office Supplies.
df_new=df_new.drop_duplicates()
print(df_new)

print(df_new.groupby('Category').sum().loc['Office Supplies']['Sales'])

           Order ID                                  Product Name  Discount  \
0   AZ-2011-1029887    Novimex Color Coded Labels, 5000 Label Set       0.0
1    AZ-2011-107716                Deflect-O Door Stop, Erganomic       0.0
2   AZ-2011-1087704                 Belkin Flash Drive, Bluetooth       0.0
3   AZ-2011-1372644                    Panasonic Printer, Durable       0.0
4   AZ-2011-1362199                     Sanford Pens, Fluorescent       0.5
..              ...                                           ...       ...
4   AZ-2011-1967754                  Logitech Numeric Keypad, USB       0.0
5   AZ-2011-1976919                          Boston Markers, Blue       0.0
6   AZ-2011-2001312                  Avery Binding Machine, Clear       0.0
7   AZ-2011-2002251     SanDisk Computer Printout Paper, 8.5 x 11       0.0
8    AZ-2011-201891  Cameo Clasp Envelope, with clear poly window       0.0

    Sales  Profit  Quantity         Category Sub-Category
0      26       7         2  Office Supplies       Labels
1      85      15         2        Furniture  Furnishings
2     294     109         7       Technology  Accessories
3     800     168         3       Technology     Machines
4      25     -11         4  Office Supplies          Art
..    ...     ...       ...              ...          ...
4      93      40         2       Technology  Accessories
5     132      54         5  Office Supplies          Art
6      97      12         2  Office Supplies      Binders
7     136      15         4  Office Supplies        Paper
8      52      19         4  Office Supplies    Envelopes

[61 rows x 8 columns]
6964.0

#### Best category-sub category

In [28]:
# Find the most profitable category and sub category combination based on the net profit.
print(df_new.groupby(['Category','Sub-Category']).Profit.sum())

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs

In [30]:
## How many invalid order IDs are there in the data frame. 
# An order id is of the form AZ-2011-Y where Y represents a whole number. 
# A Order ID is said to be valid only if Y consists of 7 digits. 
## Find the number of valid order order IDs in the data frame.

df_new['Order no']=df_new['Order ID'].str.split('-')
df_new['Order no']=df_new['Order no'].apply(lambda x: x[2])
df_new['no_of_digits']=df_new['Order no'].apply(lambda x: len(x))
df_new['no_of_digits'].value_counts()
print(df_new['no_of_digits'].value_counts())

7    54
6     7
Name: no_of_digits, dtype: int64

#### Occurence of furniture in top 25 sales

In [40]:
## Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.
df_top25=(df_new.sort_values(by='Sales',ascending=False))
df2=df_top25.iloc[:25,]
df2['Category'].value_counts()

Office Supplies    11
Technology          9
Furniture           5
Name: Category, dtype: int64

#### Operations
Product name of the fourth highest order based on sales value.

In [41]:
## Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.
df3=df_new.loc[(df_new['Sales']>250) & (df_new['Profit']>50)]
df3=df3.sort_values(by='Sales',ascending=False)
print(df3)

           Order ID                         Product Name  Discount  Sales  \
30  AZ-2011-1410648         Nokia Smart Phone, Full Size       0.0   1908
58   AZ-2011-176674                Hoover Microwave, Red       0.1   1667
8   AZ-2011-1174243     Nokia Audio Dock, with Caller ID       0.0   1334
20  AZ-2011-1322840     Motorola Headset, with Caller ID       0.0    957
3   AZ-2011-1372644           Panasonic Printer, Durable       0.0    800
18  AZ-2011-1406494         Fellowes Lockers, Industrial       0.1    748
39  AZ-2011-1536006      Logitech Keyboard, Programmable       0.0    666
33  AZ-2011-1445262          Apple Smart Phone, Cordless       0.0    636
31   AZ-2011-144325        Bush Stackable Bookrack, Pine       0.0    630
14  AZ-2011-1260928        Eldon File Cart, Single Width       0.1    576
12  AZ-2011-1253407       Safco Stackable Bookrack, Pine       0.1    541
48  AZ-2011-1672552      Binney & Smith Sketch Pad, Blue       0.0    510
52  AZ-2011-1722024               Cisco Audio Dock, VoIP       0.0    364
0   AZ-2011-1902971  Wilson Jones Binding Machine, Clear       0.0    339
17   AZ-2011-130330     Office Star Chairmat, Adjustable       0.1    307
2   AZ-2011-1087704        Belkin Flash Drive, Bluetooth       0.0    294

    Profit  Quantity         Category Sub-Category Order no  no_of_digits
30     820         3       Technology       Phones  1410648             7
58     185         6  Office Supplies   Appliances   176674             6
8      200         8       Technology       Phones  1174243             7
20     316        12       Technology       Phones  1322840             7
3      168         3       Technology     Machines  1372644             7
18     283         4  Office Supplies      Storage  1406494             7
39      66         9       Technology  Accessories  1536006             7
33     140         1       Technology       Phones  1445262             7
31     132         5        Furniture    Bookcases   144325             6
14      51         5  Office Supplies      Storage  1260928             7
12     156         4        Furniture    Bookcases  1253407             7
48     132        11  Office Supplies          Art  1672552             7
52     142         2       Technology       Phones  1722024             7
0      102         7  Office Supplies      Binders  1902971             7
17      99         5        Furniture       Chairs   130330             6
2      109         7       Technology  Accessories  1087704             7

#### Column manipulation

In [43]:
### Only Positive Profits
## Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. 
# Find the product that makes the lowest profit per Quantity in the Technology category.

df4=df_new[df_new.Profit>0]
df4=df4.loc[df4.Category=='Technology']

df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

df4.sort_values(by='Profit_per_qty',ascending=True)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits,Profit_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7,15.571429
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7,273.333333