## Data Analysis on "Movie" Data

Insights into a few movies released between 1916 and 2016, using Python. 
Source: Movie dataset
Python code is used to explore the data, gain insights into the movies, actors, directors, and collections.

In [1]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

### Task 1: Reading and Inspection

**Subtask 1.1: Import and read**

Import and read the movie database. Store it in a variable called `movies`.

In [2]:
# Write your code for importing the csv file here
movies = pd.read_csv("movies.csv")
print(movies)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
3848  Color      Shane Carruth                   143.0      77.0
3849  Color   Neill Dela Llana                    35.0      80.0
3850  Color   Robert Rodriguez                    56.0      81.0
3851  Color       Edward Burns                    14.0      95.0
3852  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
0                         0.0                   855.0    Joel David Moore
1                       563.0                  1000.0       Orlando Bloom
2                         0.0                   161.0        Rory Kinnear
3                     22000.0                 23000.0      Christian Bale
4                       475.0                   530.0     Samantha Morton
...                       ...                     ...                 ...
3848                    291.0                     8.0      David Sullivan
3849                      0.0                     0.0     Edgar Tancangco
3850                      0.0                     6.0     Peter Marquardt
3851                      0.0                   133.0  Caitlin FitzGerald
3852                     16.0                    16.0    Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
4                      640.0   73058679.0
...                      ...          ...
3848                   291.0     424760.0
3849                     0.0      70071.0
3850                   121.0    2040920.0
3851                   296.0       4584.0
3852                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
4                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
3848                Drama|Sci-Fi|Thriller  ...                371.0  English
3849                             Thriller  ...                 35.0  English
3850  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
3851                         Comedy|Drama  ...                 14.0  English
3852                          Documentary  ...                 84.0  English

          country  content_rating       budget  title_year  \
0             USA           PG-13  237000000.0      2009.0
1             USA           PG-13  300000000.0      2007.0
2              UK           PG-13  245000000.0      2015.0
3             USA           PG-13  250000000.0      2012.0
4             USA           PG-13  263700000.0      2012.0
...           ...             ...          ...         ...
3848          USA           PG-13       7000.0      2004.0
3849  Philippines       Not Rated       7000.0      2005.0
3850          USA               R       7000.0      1992.0
3851          USA       Not Rated       9000.0      2011.0
3852          USA              PG       1100.0      2004.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
0                     936.0        7.9          1.78                33000
1                    5000.0        7.1          2.35                    0
2                     393.0        6.8          2.35                85000
3                   23000.0        8.5          2.35               164000
4                     632.0        6.6          2.35                24000
...                     ...        ...           ...                  ...
3848                   45.0        7.0          1.85                19000
3849                    0.0        6.3           NaN                   74
3850                   20.0        6.9          1.37                    0
3851                  205.0        6.4           NaN                  413
3852                   23.0        6.6          1.85                  456

[3853 rows x 28 columns]

**Subtask 1.2: Inspect the dataframe**

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:

# Write your code for inspection here
movies = pd.read_csv("movies.csv")
print(movies)
# How many rows and columns are present in the dataframe? 
print(movies.shape)

# How many columns have null values present in them?
# Sum of Count of total NaN at each column in DataFrame
print((movies.isnull().sum()>0).sum())

# Count all NaN in a DataFrame (both columns & Rows)
print(movies.isnull().sum().sum())

# Count total NaN at each column in DataFrame
print(movies.isnull().sum(axis = 0))

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
3848  Color      Shane Carruth                   143.0      77.0
3849  Color   Neill Dela Llana                    35.0      80.0
3850  Color   Robert Rodriguez                    56.0      81.0
3851  Color       Edward Burns                    14.0      95.0
3852  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
0                         0.0                   855.0    Joel David Moore
1                       563.0                  1000.0       Orlando Bloom
2                         0.0                   161.0        Rory Kinnear
3                     22000.0                 23000.0      Christian Bale
4                       475.0                   530.0     Samantha Morton
...                       ...                     ...                 ...
3848                    291.0                     8.0      David Sullivan
3849                      0.0                     0.0     Edgar Tancangco
3850                      0.0                     6.0     Peter Marquardt
3851                      0.0                   133.0  Caitlin FitzGerald
3852                     16.0                    16.0    Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
4                      640.0   73058679.0
...                      ...          ...
3848                   291.0     424760.0
3849                     0.0      70071.0
3850                   121.0    2040920.0
3851                   296.0       4584.0
3852                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
4                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
3848                Drama|Sci-Fi|Thriller  ...                371.0  English
3849                             Thriller  ...                 35.0  English
3850  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
3851                         Comedy|Drama  ...                 14.0  English
3852                          Documentary  ...                 84.0  English

          country  content_rating       budget  title_year  \
0             USA           PG-13  237000000.0      2009.0
1             USA           PG-13  300000000.0      2007.0
2              UK           PG-13  245000000.0      2015.0
3             USA           PG-13  250000000.0      2012.0
4             USA           PG-13  263700000.0      2012.0
...           ...             ...          ...         ...
3848          USA           PG-13       7000.0      2004.0
3849  Philippines       Not Rated       7000.0      2005.0
3850          USA               R       7000.0      1992.0
3851          USA       Not Rated       9000.0      2011.0
3852          USA              PG       1100.0      2004.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
0                     936.0        7.9          1.78                33000
1                    5000.0        7.1          2.35                    0
2                     393.0        6.8          2.35                85000
3                   23000.0        8.5          2.35               164000
4                     632.0        6.6          2.35                24000
...                     ...        ...           ...                  ...
3848                   45.0        7.0          1.85                19000
3849                    0.0        6.3           NaN                   74
3850                   20.0        6.9          1.37                    0
3851                  205.0        6.4           NaN                  413
3852                   23.0        6.6          1.85                  456

[3853 rows x 28 columns]
(3853, 28)
12
177
color                         2
director_name                 0
num_critic_for_reviews        1
duration                      1
director_facebook_likes       0
actor_3_facebook_likes        6
actor_2_name                  1
actor_1_facebook_likes        0
gross                         0
genres                        0
actor_1_name                  0
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                  6
facenumber_in_poster          6
plot_keywords                30
movie_imdb_link               0
num_user_for_reviews          0
language                      3
country                       0
content_rating               48
budget                        0
title_year                    0
actor_2_facebook_likes        1
imdb_score                    0
aspect_ratio                 72
movie_facebook_likes          0
dtype: int64

### Task 2: Cleaning the Data

**Subtask 2.1: Drop unecessary columns**

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [15]:
# Check the 'drop' function in the Pandas library - dataframe.drop(list_of_unnecessary_columns, axis = )
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations

print((movies.drop(['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'], axis=1).shape))

movies=movies.drop(['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'], axis=1)

(3853, 13)

**Subtask 2.2: Inspect Null values**

As you have seen above, there are null values in multiple columns of the dataframe 'movies'. Find out the percentage of null values in each column of the dataframe 'movies'.

In [17]:
# Which column has the highest percentage of null values
print(round(100*(movies.isnull().sum()/len(movies.index)), 2))

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.00
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

**Subtask 2.3: Fill NaN values**

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [19]:
# Write your code for filling the NaN values in the 'language' column here

## What is the count of movies made in English language after replacing the NaN values with English? ¶

## To replace the values, you can equate the entries with language column as null with 'English':
movies.loc[pd.isnull(movies['language']), ['language']] = 'English'
#Next, you can count the movies made in English:
print((movies.language == 'English').sum())

3674

### Task 3: Data Analysis

**Subtask 3.1: Change the unit of columns**

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [20]:
# Write your code for unit conversion here
movies.gross = movies.gross.apply(lambda x: x/1000000)
movies.budget = movies.budget.apply(lambda x: x/1000000)

**Subtask 3.2: Find the movies with highest profit**

   1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
   2. Sort the dataframe using the `profit` column as reference. (Find which command can be used here to sort entries from the documentation)
   3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [21]:
# Write your code for creating the profit column here
movies["Profit"]=movies["gross"]-movies["budget"]

In [24]:
# Write your code for sorting the dataframe here
top_10 = movies.sort_values(by = 'Profit', ascending = False).head(10)

In [27]:
# Write your code to get the top 10 profiting movies here
#Which movie is ranked 5th from the top in the list obtained? 
movies_final=top_10['movie_title']
print(movies_final.head(5))

0                                   Avatar
28                          Jurassic World
25                                 Titanic
2704    Star Wars: Episode IV - A New Hope
2748            E.T. the Extra-Terrestrial
Name: movie_title, dtype: object

**Checkpoint:** You might spot two movies directed by `James Cameron` in the list.

**Subtask 3.3: Find IMDb Top 250**

Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000. 

Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.

In [29]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250=movies[movies["num_voted_users"]>25000].sort_values(by='imdb_score', ascending=False).head(250)
print(IMDb_Top_250)

#Suppose movies are divided into 5 buckets based on the IMDb ratings: 
#Which bucket holds the maximum number of movies from IMDb_Top_250?

case1=IMDb_Top_250[(IMDb_Top_250["imdb_score"] >=7.5) & (IMDb_Top_250["imdb_score"] <8) ]
print(case1.shape)
case2=IMDb_Top_250[(IMDb_Top_250["imdb_score"] >=8) & (IMDb_Top_250["imdb_score"] <8.5) ]
print(case2.shape)
case3=IMDb_Top_250[(IMDb_Top_250["imdb_score"] >=8.5) & (IMDb_Top_250["imdb_score"] <9) ]
print(case3.shape)
case4=IMDb_Top_250[(IMDb_Top_250["imdb_score"] >=9.5) & (IMDb_Top_250["imdb_score"] <10) ]
print(case4.shape)

             director_name  num_critic_for_reviews       gross  \
1795        Frank Darabont                   199.0   28.341469
3016  Francis Ford Coppola                   208.0  134.821952
64       Christopher Nolan                   645.0  533.316061
2543  Francis Ford Coppola                   149.0   57.300000
325          Peter Jackson                   328.0  377.019252
...                    ...                     ...         ...
67             Jon Favreau                   486.0  318.298180
73              Doug Liman                   585.0  100.189501
3052           Yash Chopra                    29.0    2.921738
95           Peter Jackson                   645.0  303.001229
3170  Christophe Barratier                   112.0    3.629758

                              genres           actor_1_name  \
1795                     Crime|Drama         Morgan Freeman
3016                     Crime|Drama              Al Pacino
64       Action|Crime|Drama|Thriller         Christian Bale
2543                     Crime|Drama         Robert De Niro
325   Action|Adventure|Drama|Fantasy          Orlando Bloom
...                              ...                    ...
67           Action|Adventure|Sci-Fi      Robert Downey Jr.
73           Action|Adventure|Sci-Fi             Tom Cruise
3052           Drama|Musical|Romance         Shah Rukh Khan
95                 Adventure|Fantasy           Aidan Turner
3170                     Drama|Music  Jean-Baptiste Maunier

                                         movie_title  num_voted_users  \
1795                       The Shawshank Redemption           1689764
3016                                  The Godfather           1155770
64                                  The Dark Knight           1676169
2543                         The Godfather: Part II            790926
325   The Lord of the Rings: The Return of the King           1215718
...                                              ...              ...
67                                         Iron Man            696338
73                                 Edge of Tomorrow            431620
3052                                     Veer-Zaara             34449
95                The Hobbit: An Unexpected Journey            637246
3170                                     The Chorus             44151

      num_user_for_reviews language  budget  title_year  imdb_score  \
1795                4144.0  English    25.0      1994.0         9.3
3016                2238.0  English     6.0      1972.0         9.2
64                  4667.0  English   185.0      2008.0         9.0
2543                 650.0  English    13.0      1974.0         9.0
325                 3189.0  English    94.0      2003.0         8.9
...                    ...      ...     ...         ...         ...
67                  1055.0  English   140.0      2008.0         7.9
73                   741.0  English   178.0      2014.0         7.9
3052                 119.0    Hindi     7.0      2004.0         7.9
95                  1367.0  English   180.0      2012.0         7.9
3170                 110.0   French     5.5      2004.0         7.9

      movie_facebook_likes      Profit
1795                108000    3.341469
3016                 43000  128.821952
64                   37000  348.316061
2543                 14000   44.300000
325                  16000  283.019252
...                    ...         ...
67                   10000  178.298180
73                   77000  -77.810499
3052                  2000   -4.078262
95                  166000  123.001229
3170                     0   -1.870242

[250 rows x 14 columns]
(45, 14)
(159, 14)
(42, 14)
(0, 14)

**Subtask 3.4: Find the critic-favorite and audience-favorite actors**

   1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
   2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
   3. Group the combined dataframe using the `actor_1_name` column.
   4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [30]:
# Write your code for creating three new dataframes here
# Include all movies in which Meryl_Streep is the lead
Meryl_Streep=movies[movies["actor_1_name"] =='Meryl Streep']
print(Meryl_Streep)

       director_name  num_critic_for_reviews       gross  \
392     Nancy Meyers                   187.0  112.703470
1038   Curtis Hanson                    42.0   46.815748
1132     Nora Ephron                   252.0   94.125426
1322   David Frankel                   208.0  124.732962
1390  Robert Redford                   227.0   14.998070
1471  Sydney Pollack                    66.0   87.100000
1514   David Frankel                   234.0   63.536011
1563   Carl Franklin                    64.0   23.209440
1784  Stephen Daldry                   174.0   41.597830
2500  Phyllida Lloyd                   331.0   29.959436
2793   Robert Altman                   211.0   20.338609

                               genres  actor_1_name  \
392              Comedy|Drama|Romance  Meryl Streep
1038  Action|Adventure|Crime|Thriller  Meryl Streep
1132          Biography|Drama|Romance  Meryl Streep
1322             Comedy|Drama|Romance  Meryl Streep
1390               Drama|Thriller|War  Meryl Streep
1471          Biography|Drama|Romance  Meryl Streep
1514             Comedy|Drama|Romance  Meryl Streep
1563                            Drama  Meryl Streep
1784                    Drama|Romance  Meryl Streep
2500          Biography|Drama|History  Meryl Streep
2793               Comedy|Drama|Music  Meryl Streep

                    movie_title  num_voted_users  num_user_for_reviews  \
392           It's Complicated             69860                 214.0
1038            The River Wild             32544                  69.0
1132             Julie & Julia             79264                 277.0
1322     The Devil Wears Prada            286178                 631.0
1390           Lions for Lambs             41170                 298.0
1471             Out of Africa             52339                 200.0
1514              Hope Springs             34258                 178.0
1563            One True Thing              9283                 112.0
1784                 The Hours            102123                 660.0
2500             The Iron Lady             82327                 350.0
2793  A Prairie Home Companion             19655                 280.0

     language  budget  title_year  imdb_score  movie_facebook_likes     Profit
392   English    85.0      2009.0         6.6                     0  27.703470
1038  English    45.0      1994.0         6.3                     0   1.815748
1132  English    40.0      2009.0         7.0                 13000  54.125426
1322  English    35.0      2006.0         6.8                     0  89.732962
1390  English    35.0      2007.0         6.2                     0 -20.001930
1471  English    31.0      1985.0         7.2                     0  56.100000
1514  English    30.0      2012.0         6.3                     0  33.536011
1563  English    30.0      1998.0         7.0                   592  -6.790560
1784  English    25.0      2002.0         7.6                     0  16.597830
2500  English    13.0      2011.0         6.4                 18000  16.959436
2793  English    10.0      2006.0         6.8                   683  10.338609

In [31]:
# Leo_Caprio = # Include all movies in which Leo_Caprio is the lead
Leo_Caprio=movies[movies["actor_1_name"] =='Leonardo DiCaprio']
print(Leo_Caprio)

              director_name  num_critic_for_reviews       gross  \
25            James Cameron                   315.0  658.672302
49             Baz Luhrmann                   490.0  144.812796
94        Christopher Nolan                   642.0  292.568851
173   Alejandro G. Iñárritu                   556.0  183.635922
246         Martin Scorsese                   267.0  102.608827
283       Quentin Tarantino                   765.0  162.804648
293            Edward Zwick                   166.0   57.366262
294         Martin Scorsese                   606.0  116.866727
312         Martin Scorsese                   233.0   77.679638
347         Martin Scorsese                   352.0  132.373442
431         Martin Scorsese                   490.0  127.968405
608            Ridley Scott                   238.0   39.380442
859        Steven Spielberg                   194.0  164.435221
934             Danny Boyle                   118.0   39.778599
1046             Sam Mendes                   323.0   22.877808
1336        Randall Wallace                    83.0   56.876365
1364         Clint Eastwood                   392.0   37.304950
1457              Sam Raimi                    63.0   18.636537
1909             Jerry Zaks                    45.0   12.782508
2484           Baz Luhrmann                   106.0   46.338728
3025           Baz Luhrmann                   490.0  144.812796

                                genres       actor_1_name  \
25                       Drama|Romance  Leonardo DiCaprio
49                       Drama|Romance  Leonardo DiCaprio
94    Action|Adventure|Sci-Fi|Thriller  Leonardo DiCaprio
173   Adventure|Drama|Thriller|Western  Leonardo DiCaprio
246                    Biography|Drama  Leonardo DiCaprio
283                      Drama|Western  Leonardo DiCaprio
293           Adventure|Drama|Thriller  Leonardo DiCaprio
294       Biography|Comedy|Crime|Drama  Leonardo DiCaprio
312                        Crime|Drama  Leonardo DiCaprio
347               Crime|Drama|Thriller  Leonardo DiCaprio
431                   Mystery|Thriller  Leonardo DiCaprio
608              Action|Drama|Thriller  Leonardo DiCaprio
859              Biography|Crime|Drama  Leonardo DiCaprio
934           Adventure|Drama|Thriller  Leonardo DiCaprio
1046                     Drama|Romance  Leonardo DiCaprio
1336                  Action|Adventure  Leonardo DiCaprio
1364             Biography|Crime|Drama  Leonardo DiCaprio
1457           Action|Thriller|Western  Leonardo DiCaprio
1909                             Drama  Leonardo DiCaprio
2484                     Drama|Romance  Leonardo DiCaprio
3025                     Drama|Romance  Leonardo DiCaprio

                    movie_title  num_voted_users  num_user_for_reviews  \
25                     Titanic            793059                2528.0
49            The Great Gatsby            362912                 753.0
94                   Inception           1468200                2803.0
173               The Revenant            406020                1188.0
246                The Aviator            264318                 799.0
283           Django Unchained            955174                1193.0
293              Blood Diamond            400292                 657.0
294    The Wolf of Wall Street            780588                1138.0
312          Gangs of New York            314033                1166.0
347               The Departed            873649                2054.0
431             Shutter Island            786092                 964.0
608               Body of Lies            174248                 263.0
859        Catch Me If You Can            525801                 667.0
934                  The Beach            176169                 548.0
1046        Revolutionary Road            152591                 414.0
1336  The Man in the Iron Mask            125219                 244.0
1364                  J. Edgar            102728                 279.0
1457    The Quick and the Dead             69197                 216.0
1909             Marvin's Room             20163                  71.0
2484            Romeo + Juliet            167750                 506.0
3025          The Great Gatsby            362933                 753.0

     language  budget  title_year  imdb_score  movie_facebook_likes  \
25    English   200.0      1997.0         7.7                 26000
49    English   105.0      2013.0         7.3                115000
94    English   160.0      2010.0         8.8                175000
173   English   135.0      2015.0         8.1                190000
246   English   110.0      2004.0         7.5                     0
283   English   100.0      2012.0         8.5                199000
293   English   100.0      2006.0         8.0                 14000
294   English   100.0      2013.0         8.2                138000
312   English   100.0      2002.0         7.5                     0
347   English    90.0      2006.0         8.5                 29000
431   English    80.0      2010.0         8.1                 53000
608   English    70.0      2008.0         7.1                     0
859   English    52.0      2002.0         8.0                 15000
934   English    50.0      2000.0         6.6                     0
1046  English    35.0      2008.0         7.3                     0
1336  English    35.0      1998.0         6.4                     0
1364  English    35.0      2011.0         6.6                 16000
1457  English    32.0      1995.0         6.4                     0
1909  English    23.0      1996.0         6.7                  1000
2484  English    14.5      1996.0         6.8                 10000
3025  English   105.0      2013.0         7.3                115000

          Profit
25    458.672302
49     39.812796
94    132.568851
173    48.635922
246    -7.391173
283    62.804648
293   -42.633738
294    16.866727
312   -22.320362
347    42.373442
431    47.968405
608   -30.619558
859   112.435221
934   -10.221401
1046  -12.122192
1336   21.876365
1364    2.304950
1457  -13.363463
1909  -10.217492
2484   31.838728
3025   39.812796

In [32]:
# Include all movies in which Brad_Pitt is the lead
Brad_Pitt=movies[movies["actor_1_name"] =='Brad Pitt']
print(Brad_Pitt)

              director_name  num_critic_for_reviews       gross  \
97            David Fincher                   362.0  127.490802
142       Wolfgang Petersen                   220.0  133.228348
243       Steven Soderbergh                   198.0  125.531634
244              Doug Liman                   233.0  186.336103
367              Tony Scott                   142.0    0.026871
383       Steven Soderbergh                   186.0  183.405771
448              David Ayer                   406.0   85.707116
579     Jean-Jacques Annaud                    76.0   37.901509
646           David Fincher                   315.0   37.023395
749         Patrick Gilmore                    98.0   26.288320
887             Neil Jordan                   120.0  105.264608
1397        Terrence Malick                   584.0   13.303319
1608         Andrew Dominik                   273.0    3.904982
2030  Alejandro G. Iñárritu                   285.0   34.300771
2146    Angelina Jolie Pitt                   131.0    0.531009
2428         Andrew Dominik                   414.0   14.938570
2602             Tony Scott                   122.0   12.281500

                                                 genres actor_1_name  \
97                                Drama|Fantasy|Romance    Brad Pitt
142                                           Adventure    Brad Pitt
243                                      Crime|Thriller    Brad Pitt
244                Action|Comedy|Crime|Romance|Thriller    Brad Pitt
367                               Action|Crime|Thriller    Brad Pitt
383                                      Crime|Thriller    Brad Pitt
448                                    Action|Drama|War    Brad Pitt
579               Adventure|Biography|Drama|History|War    Brad Pitt
646                                               Drama    Brad Pitt
749   Adventure|Animation|Comedy|Drama|Family|Fantas...    Brad Pitt
887                                Drama|Fantasy|Horror    Brad Pitt
1397                                      Drama|Fantasy    Brad Pitt
1608              Biography|Crime|Drama|History|Western    Brad Pitt
2030                                              Drama    Brad Pitt
2146                                      Drama|Romance    Brad Pitt
2428                                     Crime|Thriller    Brad Pitt
2602                Action|Crime|Drama|Romance|Thriller    Brad Pitt

                                            movie_title  num_voted_users  \
97                 The Curious Case of Benjamin Button            459346
142                                               Troy            381672
243                                     Ocean's Twelve            284852
244                                   Mr. & Mrs. Smith            348861
367                                           Spy Game            121259
383                                     Ocean's Eleven            402645
448                                               Fury            303185
579                               Seven Years in Tibet             96385
646                                         Fight Club           1347461
749                   Sinbad: Legend of the Seven Seas             36144
887   Interview with the Vampire: The Vampire Chroni...           239752
1397                                  The Tree of Life            136367
1608  The Assassination of Jesse James by the Coward...           136104
2030                                             Babel            243799
2146                                        By the Sea              7976
2428                               Killing Them Softly            111625
2602                                      True Romance            163492

      num_user_for_reviews language  budget  title_year  imdb_score  \
97                   822.0  English   150.0      2008.0         7.8
142                 1694.0  English   175.0      2004.0         7.2
243                  627.0  English   110.0      2004.0         6.4
244                  798.0  English   120.0      2005.0         6.5
367                  361.0  English    92.0      2001.0         7.0
383                  845.0  English    85.0      2001.0         7.8
448                  701.0  English    68.0      2014.0         7.6
579                  119.0  English    70.0      1997.0         7.0
646                 2968.0  English    63.0      1999.0         8.8
749                   91.0  English    60.0      2003.0         6.7
887                  406.0  English    60.0      1994.0         7.6
1397                 975.0  English    32.0      2011.0         6.7
1608                 415.0  English    30.0      2007.0         7.5
2030                 908.0  English    25.0      2006.0         7.5
2146                  61.0  English    10.0      2015.0         5.3
2428                 369.0  English    15.0      2012.0         6.2
2602                 460.0  English    13.0      1993.0         8.0

      movie_facebook_likes     Profit
97                   23000 -22.509198
142                      0 -41.771652
243                      0  15.531634
244                      0  66.336103
367                      0 -91.973129
383                      0  98.405771
448                  82000  17.707116
579                      0 -32.098491
646                  48000 -25.976605
749                    880 -33.711680
887                  11000  45.264608
1397                 39000 -18.696681
1608                     0 -26.095018
2030                     0   9.300771
2146                     0  -9.468991
2428                 20000  -0.061430
2602                 15000  -0.718500

In [33]:
# Write your code for combining the three dataframes here
Combined=Meryl_Streep.append(Leo_Caprio).append(Brad_Pitt)

In [39]:
# Write your code for grouping the combined dataframe here
# Write the code for finding the mean of critic reviews and audience reviews here
# Which actor is highest rated among the three actors according to the user reviews?
# Which actor is highest rated among the three actors according to the critics?
print(Combined.groupby("actor_1_name").mean()[['num_critic_for_reviews','num_user_for_reviews']])

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818